<html>
	<body>
		<p>Hello <%= username %></p>
		<p>We appreciate you creating and adding a business. You are the bomb!!!</p>
		<p>Now that you have added a business, we want to let you know we are committed to make the platform suitable to your business needs. We will be sending you tips and updating you on added features as we make <a href="http://even3app.com">Even3</a></p>
		<p>You can now let your satisfied customers know they can visit the website and vouch for your service by rating you. This is what other users said they are looking for to make decisions on vendor hire.</br></p>
		<p>Stay Amazing!</br></br></p>
		<p>Dedicated,</p>
		<p>Even3 Care Team</p>
	</body>
</html>
