<!DOCTYPE html>
<html>
	<head>
		<title>Password Reset</title>
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<style type="text/css">
	
		body { 
		  background: url("banner.png") no-repeat center center fixed;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
		.jumbotron{
			background-color: #675c8a;
			margin-top: 100px;

		}
		.lbl{
			color : white;
		}
		h3{
			color : white;
			text-align: center;
		}

		</style>
		<script>
			function myFunction() {
			    if(document.getElementById("newpass").value !== document.getElementById("conpass").value ){
			    	alert("Password does not matched! Try Again!");
			    }
			}
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-offset-3 col-md-6 jumbotron">
					<h3>Reset Your Password!</h3>
				 	<form class="form-horizontal" role="form" action="/api/Accounts/passwordreset" method="POST">

  						<div class="form-group">
    						<div class="col-sm-8">
      							<input type="hidden" class="form-control" name="email" value=<%= email %>>
    						</div>
  						</div>
  						<div class="form-group">
    						<label class="control-label col-sm-4 lbl" for="newpass">New Password  :</label>
    						<div class="col-sm-8">
      							<input type="password" class="form-control" id= "newpass"name="newpass">
    						</div>
  						</div>
  						<div class="form-group">
     						<label class="control-label col-sm-4 lbl" for="conpass">Confirm Password  :</label>
    						<div class="col-sm-8">
      							<input type="password" onchange="myFunction()" class="form-control" id= "conpass" name="conpass">
    						</div>
  						</div>
  						<div class="form-group">
  							<div class="col-sm-offset-10">
 								<button type="submit" class="btn btn-default">Reset</button>
 							</div>
 						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>



				