<html>
	<body>
		<p style="margin-left:30%">Slowly Becoming The Greatest, Keep It Up</p>
		<p>Wow <%= businessname %>,</p>
		<p>Our users, your clients are giving you accolades. They totally recognize and appreciate your skill at what you do.</p>
		<p>Keep reaching for the peak, we will be here to support anytime anyday! Go ahead and get more thumbs up by referring more patrons to get you rated on the App. Other users rely on their word.</p>
		<p>Click this to see what they are saying:</p>
		<p><a href='<%= link %>'><button>Check My Star Ratings</button></a></p>
		<p>Kudos,</p>
		<p>Even3 Team.</p>
	</body>
</html>