<html>
	<body>
		<p>Hi <%= username %></p>
		<p>You requested password reset. It's ok, we all forget our passwords. We are here to help, please <a href='<%= link %>'><button>Click Here</button></a></p>
		<p>If the button doesn't work,easy,just copy and paste the URL below into your browser.</p>
		<p><%= link %></p>
		<p>But humm... if you didn't request for the reset,kindly click the link below and we will handle the rest(we got your back)</br></p>
		<p>http://even3app.com</p>
		<p>With Passion,</p>
		<p>Even3 Team.</p>
	</body>
</html>
