<html>
	<body>
		<p>Hi <%= username %></p>
		</br>
		<p>Thanks for signing up and opening a window into awesomeness! Even3 lets you create, find and share experiences, but wait there’s more - find local vendors to help you through the hassle of organizing and event. All with ratings from you and other users. Let’s get you started.</p>
		<p><a href='http://even3app.com/#!/howItWorks'>How it Works?</a></p>
		<p>Click here to Download our amazeballs android app</p>
		<a href="https://play.google.com/store/apps/details?id=com.disnovat.even3co&hl=fr"><img src="http://i.imgur.com/EKuE6rC.png" title="source: imgur.com" width="110" height="50"/></a>
		<p>Come Hang with us <a href="http://facebook.com/even3app">Facebook</a> | <a href="http://twitter.com/even3app">Twitter</a> | <a href="http://www.instagram.com/even3app">Instragram</a></p>
		</br>
		<p>With Love,</p>
		<a href="http://even3app.com"><img src="http://i.imgur.com/yKvvwh9.jpg" title="source: imgur.com" width="50" height="50"/></a>
		<p>Contact us <a href="medium.com/@even3app">Blog</a> | <a href="http://medium.com/@even3app">My Profile</a></p>
	</body>
</html>
